$navbar-default-bg: #9CBE51;


@import 'bootstrap/dist/css/bootstrap';

body {
    font-family: nunito,roboto,proxima-nova,proxima nova,sans-serif;
}

#logo {
	font-size: 1.7em;
	color: #fff;

	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('hero-image.jpg');
	background-size: cover;
	height: 550px;
	margin-top: 50px;
}

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

#loisBlogNavigation {
	background-color: #9CBE51;
}

.typewriter {
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 1.5s steps(10, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 50px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}

#typewriterTitle {
	color: white;
}

#typewriterContainer {
	margin-top: 50px;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.portfolio-img {
    width: 100%;
    filter: brightness(50%);
}

#portfolio-row {
    margin-top: 50px;
}

.portfolio-item-container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.on-center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-item-link {
    color: white;
}

.portfolio-item-title {
    font-size: 1.3em;
}

.portfolio-item-link:hover {
    color: white;
    text-decoration-color: white;

}

#rubyItems {
    margin-top: 60px;
}